data/
*.pyc
__pycache__/
.env
.DS_Store
node_modules/
frontend/dist/
*.egg-info/
docker-compose.yml
frontend/tsconfig.tsbuildinfo
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/build/
frontend/android/app/build/
frontend/android/app/src/main/assets/public/
